@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";

*{
  box-sizing: border-box;
}

body {
font-family: 'Roboto', sans-serif;
}

h1{font-weight:100;}



.container{

}

#Immutable-comp{
  width:100%;
  max-width:400px;
  margin: 0 auto;
  .box{
    background: black;
    width:250px;
    height:250px;
    margin: 0 auto;
    &.active{
      background:green;
    }
  }
  .button{
    border-radius: 4px;
    background:rgb(80, 80, 242);
    padding:10px 20px;
    margin:20px 0;
    cursor: pointer;
    color:white;
    text-align: center;
  
  }
}

#BillsApp{
  background: rbg(63, 255, 173);
  background:linear-gradient(90deg, rgba(63, 255, 173, 1) 0%, rgba(66,195,194,1) 100%);
  height:100vh;
  header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px 0;
    h2{
      font-size:1.8rem;
      font-weight:900;
      color:white;
    }
  }
  #AllBills{
    .container{
      width: 100%;
      padding:0 20px;
    }
    .total-bills{
      color:white;
      display:flex;
      justify-content: space-between;
      align-items: center;
      width:100%;
      padding:20px 0;
      .text{
        font-size:1.3rem;
      }
      .number{
        font-size:.9rem;
        display:flex;
        justify-content: center;
        align-items: center;
        font-weight:300;
      }
    }
  }
}